<nav><%= link_to "Home" ,  home_user_path(current_user) %></nav>
<h1>Rules of Play</h1>
<h2>Points</h2>
<p>You receive points automatically for  any links or buttons that are colored gold(posting, voting, and commenting).  You can dare other users that you are following to perform any task you can think of which can be demonstrated in up to 10 minutes, which they will respond with by posting a video of them attemping the dare. After the dare attempt is posted, everyone on the site then has one day to vote on whether the user achieved the objective of the dare. After 24 hours have elapsed, points will be awarded and removed to users as determined by the outcome of the voting. </p>
<h2>Dares</h2>
<p>It's not just girls, we all just want to have fun. So let's have fun and not ask anyone to do anything that you wouldn't feel comfortable doing yourself. Any propsed dare can be refuesed if either the recipient wants more points to perform it, or if you do not want it perform it for any other reasons. If someone refues your dare, don't repeatly resend the dare. The person declined it for their own reasons, which you should respect. Just don't be a jerk, and have fun.</p>
<h2>Disclaimer</h2>
<p>By using this site, you (the user) agree that you are using it of your own free will, under no obligation and for your own entertainment, networking, or any of your own other (lawful and legitimate) reasons you may find to use this site. Daring anyone to do aything with the intent (either implicit or implied) that the other person, persons, or any others involved in the dare(willing or incidental) will be injured is prohibited and doing such can be repremanded by actions which can include, but are not limited to, having your profile removed from the site.</p>
