<script language="JavaScript" src="/www.dareum.com/scriptcam.js">
$(document).ready(function() {
    $("#video-container").scriptcam(
        path: '/www.dareum.com/'
    );
});
</script>
   <div id="video-container">
  </div>